

/* Sidebar container */
.sidebar {
  padding: 16px;
  width: 285px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* collapse logo sidebar */
.sidebar {
  width: 285px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed span,
.sidebar.collapsed h4,
.sidebar.collapsed p {
  display: none;
}

.sidebar.collapsed .menu button {
  justify-content: center;
}

.collapse-btn {
  width: 30px;
  cursor: pointer;
  margin-left: auto;
}
.sidebar.collapsed .sidebar-header {
  justify-content: center;
}

/* collapse logo sidebar  end */ 
.sidebar * {
  background-color: inherit;
  color: inherit;
  box-sizing: border-box;
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.sidebar-logo{
  filter: none !important; 
}
/* .sidebar-header img {
  width: 40px;
} */

.sidebar-header h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.sidebar-header p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

/* Menu items */
.menu li,
.bottom li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
}

.menu li button,
.bottom li button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

/* Bottom section */
.bottom {
  margin-top: auto;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu li.active,
.bottom li.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.menu li.active button,
.bottom li.active button {
  background-color: transparent;
}

/* Section title */
.section {
  font-size: 12px;
  color: #aaa;
  margin: 20px 0 10px;
}

/* Management header */
.management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 10px;
}
.toggle-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* Theme toggle buttons */
.theme-toggle {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  width: 100%;
}

.theme-toggle button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  flex: 1;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle button.active {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
